<footer class="bg-green-950 text-white py-10">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row md:justify-between gap-10">
            
            <!-- Contact Information Section -->
            <div class="md:w-1/3 ml-14">
                <img src="../elements/logo_horizontal.png" alt="Logo" class="mb-3" style="height: auto; width: 250px;">
                <div class="text-sm">
                    +62 821-1077-9827 <br>
                    foodrine@gmail.com <br>
                    info.foodrine@gmail.com
                </div>
                <div class="flex space-x-4 mt-4">
                    <a href="#">
                        <img src="../elements/facebook.svg" alt="Facebook" class="w-12 h-12">
                    </a>
                    <a href="#">
                        <img src="../elements/twitter.svg" alt="Twitter" class="w-12 h-12">
                    </a>
                    <a href="#">
                        <img src="../elements/instagram.svg" alt="Instagram" class="w-12 h-12">
                    </a>
                </div>
            </div>
            
            <!-- Address Section -->
            <div class="md:w-1/3 mt-4">
                <h3 class="text-lg font-semibold mb-3">Our Address</h3>
                <div class="text-sm font-light mt-6">
                    Sekolah Vokasi IPB University, <br> Jl. Kumbang No.14, RT.02/RW.06 <br> Kota Bogor, Jawa Barat <br>
                    16128
                </div>
            </div>

            <!-- Map Section -->
            <div class="md:w-1/3 mt-6 md:mt-0 h-48 mr-14">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.4628677988117!2d106.8035398751545!3d-6.589245164413314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5d2e602b501%3A0x25a12f0f97fac4ee!2sSchool%20of%20Vocational%20Studies%20-%20IPB%20University!5e0!3m2!1sen!2sca!4v1730869893633!5m2!1sen!2sca"
                    width="100%" height="100%" class="border border-gray-300" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</footer>
