<nav class="fixed top-0 left-0 w-full bg-white py-4 shadow-lg z-50 items-center">
  <div class="container px-10 py-7 flex-col items-center justify-center relative">

    <div class="absolute -top-5 left-20 p-3 bg-white shadow-2xl rounded-lg flex items-center justify-center z-20 sm:" style="width: 180px; height: 180px;">
      <img src="../elements/logo_vertical.png" alt="FoodrinE Logo" style="height: 150px; width: auto;">
    </div>

    <ul class="flex space-x-6 text-green-900 text-md md:text font-black font-poppins ml-72">
      <li><a href="#" class="hover:text-green-700">BERANDA</a></li>
      <li><a href="#" class="hover:text-green-700">TENTANG KAMI</a></li>
      <li><a href="#" class="hover:text-green-700">ORGANISASI</a></li>
      <li><a href="#" class="hover:text-green-700">MITRA</a></li>
      <li><a href="#" class="hover:text-green-700">HUBUNGI KAMI</a></li>
    </ul>
    
      <a href="#" class="bg-orange-400 text-white px-4 py-2 mr-2 font-bold font-poppins rounded-full hover:bg-orange-500">Sign Up</a>
      <a href="#" class="px-4 py-2 font-bold font-poppins rounded-full text-orange-500">Log In</a>
  </div>
</nav>
